{% extends 'base.html' %}

{% block TITLE %}
Database Perpustakaan - Buku - Perbarui
{% endblock %}

{% block MAIN %}
<h1> Tambah Buku </h1>>
<form action="/buku/perbarui/{{Buku.Id}}" method="POST">
	<label for="Judul">Judul</label>
	<input type="text" id="Judul" name="Judul" value="{{Buku.Judul}}"><br>

	<label for="ISBN">ISBN</label>
	<input type="text" id="ISBN" name="ISBN" value="{{Buku.ISBN}}"><br>

	<label for="TahunPublikasi">Tahun Publikasi</label>
	<input type="text" id="TahunPublikasi" name="TahunPublikasi" value="{{Buku.TahunPublikasi}}"><br>

	<label for="StatusTersedia">Status Tersedia</label>
	<input type="checkbox" id="StatusTersedia" name="StatusTersedia" value="{{Buku.StatusTersedia}}"><br>

	<label for="Pengarang">Pengarang</label>
	<input type="checkbox" id="Pengarang" name="Pengarang" value="{{Buku.Pengarang}}"><br>

	<label for="Penerbit">Penerbit</label>
	<input type="checkbox" id="Penerbit" name="Penerbit" value="{{Buku.Penerbit}}"><br>

	<label for="Rak">Rak</label>
	<input type="checkbox" id="Rak" name="Rak" value="{{Buku.Rak}}"><br>

	<input type="submit" value="Submit">
</form>
{% endblock %}
