{% extends 'base.html' %}

{% block TITLE %}
Database Perpustakaan - Buku - Tambah
{% endblock %}

{% block MAIN %}
<h1> Tambah Buku </h1>
<form action="/buku/tambah" method="POST">
	<h2>Buku</h2>
	<label for="Judul">Judul</label>
	<input type="text" id="Judul" name="Judul" value=""><br>

	<label for="ISBN">ISBN</label>
	<input type="text" id="ISBN" name="ISBN" value=""><br>

	<label for="TahunPublikasi">Tahun Publikasi</label>
	<input type="text" id="TahunPublikasi" name="TahunPublikasi" value=""><br>

	<label for="StatusTersedia">Status Tersedia</label>
	<input type="checkbox" id="StatusTersedia" name="StatusTersedia" value=""><br>


	<h2>Pengarang</h2>
	<label for="PengarangNama">Nama</label>
	<input type="text" id="PengarangNama" name="PengarangNama" value=""><br>

	<label for="PengarangNasionalitas">Nasionalitas</label>
	<input type="text" id="PengarangNasionalitas" name="PengarangNasionalitas" value=""><br>

	<label for="PengarangTanggalLahir">Tanggal Lahir</label>
	<input type="text" id="PengarangTanggalLahir" name="PengarangTanggalLahir" value=""><br>


	<h2>Penerbit</h2>
	<label for="PenerbitNama">Nama</label>
	<input type="text" id="PenerbitNama" name="PenerbitNama" value=""><br>

	<label for="PenerbitLokasiMarkas">Lokasi Markas</label>
	<input type="text" id="PenerbitLokasiMarkas" name="PenerbitLokasiMarkas" value=""><br>

	<label for="PenerbitTahunPendirian">Tahun Pendirian</label>
	<input type="text" id="PenerbitTahunPendirian" name="PenerbitTahunPendirian" value=""><br>

	
	<h2>Rak</h2>
	<label for="RakId">Id</label>
	<input type="text" id="RakId" name="RakId" value=""><br>

	<label for="RakLantaiNomor">Lantai</label>
	<input type="text" id="RakLantaiNomor" name="RakLantaiNomor" value=""><br>

	<label for="RakBagian">Bagian</label>
	<input type="text" id="RakBagian" name="RakBagian" value=""><br>

	<label for="RakKapasitas">Kapasitas</label>
	<input type="text" id="RakKapasitas" name="RakKapasitas" value=""><br>

	
	<h2>Kategori Buku</h2>
	<label for="KategoriJenis">Jenis</label>
	<input type="text" id="KategoriJenis" KategoriJenis="Rak" value=""><br>
	
	<input type="submit" value="Submit">
</form>
{% endblock %}
