{% extends 'base.html' %}

{% block MAIN %}
<h1> {{ action }} Mahasiswa </h1>
<form class="generic-form" action="{{ form_action }}" method="POST">
    <h2>Mahasiswa</h2>
    <label for="NIM">NIM</label>
    <input type="text" id="NIM" name="NIM" value="{{ mahasiswa.NIM }}"><br>

    <label for="NamaLengkap">Nama Lengkap</label>
    <input type="text" id="NamaLengkap" name="NamaLengkap" value="{{ mahasiswa.NamaLengkap }}"><br>

    <label for="Email">Email</label>
    <input type="text" id="Email" name="Email" value="{{ mahasiswa.Email }}"><br>

    <label for="NomorTelepon">Nomor Telepon</label>
    <input type="text" id="NomorTelepon" name="NomorTelepon" value="{{ mahasiswa.NomorTelepon }}"><br>


    <input type="submit" value="Submit">
</form>
{% endblock %}
